div {
    background-color: brown;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-image: url(../../new job/s.jpg.jpg);
}
h3 {
    color: slategray;
    font-size: medium;
    font-weight: bolder;
    font-family: sans-serif;
}
.git.comment {
    background-color: navy;
    color: tomato;
    padding: 10px;
    
}