div {
    background-color: rgb(10, 10, 10);
   
}
h3 {
    color: slategray;
    font-size: medium;
    font-weight: bolder;
    font-family: sans-serif;
}
.git.comment {
    background-color: navy;
    color: tomato;
    padding: 10px;
    
}